* {
    bg-col: #1e1c27;
    bg-col-light: #302e3d;
    border-col: #48465a;
    selected-col: #4a445f;
    blue: #7489db;
    fg-col: #d3d2d8;
    fg-col2: #b0afb6;
    grey: #8a8595;
    width: 600;
}
